
.color{
    background-color: #ffff;
    .map{
        width: 100%;

        img{
            margin-top: 40px;
            width: 100%;
        }
        
    }
    .add{
        padding: 20px;
        margin-top: var(--small) !important;
        margin: 0 var(--small);
        border-radius: 20px;
        border-bottom: 2px solid #E8E8E8;
        font-size: calc(var(--small)/1.1);
    }
    .flex{
        max-width: 800px;
        display: flex;
        align-items: center;
       justify-content: space-around;
        padding:var(--small);
        margin: var(--small) 0;
        .face{
            text-align: center;
            img{
                width: var(--moreBig);
                border-radius: 50%;
                box-shadow: 3px 3px #b1b0b0;
                margin-right: 5%;
            }
            p{
                text-align: center;
                margin-top: var(--small) ;
                font-size: var(--small);
            }
        }
        .participation{
            display: flex;
            align-items: center;
            p{
                margin-right: 10px;
            }
            button{
                background-color: #E8E8E8;
                width: calc(var(--moreBig)/1.5);
                height:  var(--middle);
                font-size: calc(var(--small)/1.5);
            }
        }
        div:last-of-type{
            line-height: 2;
            p{
                font-size: calc(var(--small)/1.2);
            }
        }
       
        button{
            cursor: pointer;
            font-size:var(--small);
            font-weight: bold;
            width: calc(var(--moreBig)*1.3); height: var(--big);
            background-color: #8DEAC6;
            border-radius: var(--small);
            border: none;
        }
    }
    .line{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 2px solid #e8e8e8;
        font-size: calc(var(--small)/1.2);
    }   
    ul{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 50px;
        .elComments{
            &.active{
                display: flex;
                background-color: #8deac6;
            }
            display: flex;
            align-items: center;
            margin-left: 5%;
            margin-top: 20px;
            width: 90%; padding: var(--small);
            background-color: #E8E8E8;
            border-radius: var(--small);
            margin-bottom: 20px; 
          
            .smile{
                display: flex;
                flex-direction: column;
                font-size: 14px;
                img{
                    width: var(--big);
                    margin-left:var(--middle);
                    margin-right: 15px;
                    border-radius: 20px;
                }
            }
            .comment{
                margin-left: var(--small);
                line-height: 1.5;
                p{
                    font-size: calc(var(--small)/1.2);
                }
                p:last-of-type{
                    font-weight: bold;
                }
            }
        }
    }
    form{
        display: flex;
        justify-content: center;
        input{
            width: 80%; padding: calc(var(--small)/1.5);
            border: 1px solid #8DEAC6;
            border-radius: 20px;
            margin-right: 20px;
            margin-bottom: 20px; 
        }
        button{
            width: 10%;
            margin-bottom: 20px; 
            cursor: pointer;
            font-weight: bold;
            font-size: calc(var(--small)/1.5);
            background-color: #8DEAC6;
            border-radius: calc(var(--small)/1.2);
        }     
    }
    .length{
        margin: calc(var(--small)/2) 0 var(--big) 0;
        font-size: calc(var(--small)/1.2);
    }
}

.white{
    position: relative;
    padding-bottom: 50px;
    .bold{
     
        h3{
            display: flex;
            align-items: center;
            padding: var(--big) 0  var(--big) 30px; 
            font-weight: bold;
            font-size: var(--middle);
        }
        img{
            margin-left: var(--small);
            width: var(--big);
        }
    }
    .textbox{
        margin: var(--middle) 0 var(--big) 30px;
        p{
            font-size: calc(var(--small)/1.5);
        }
        p:first-of-type{
            font-size:  var(--small);
            margin-bottom: 1.57%;
        }
    }
 
    .address{
        margin: var(--small) 0 0 30px;
        display: flex;
        align-items: center;
        font-size: calc(var(--small)/1.3);
        line-height: 1.7;
        img{
            width: var(--middle);
            margin-left: 10px;
            margin-top: .5%;
            cursor: pointer;
        }
        p:first-of-type{
            margin-top: 0.3%;
            color: #333 !important;
        }
        
    }
    .grayfont{
        font-size: calc(var(--small)/1.5);
        margin: 0.5% 0 var(--small) 30px;
        color: #AAA;
    }
    .group{
        display: flex;
        flex-direction: column;
        .list{
            background-color: white;
            border: 1px solid #E8E8E8;
            border-radius: 20px;
            box-shadow: 3.5px 3.5px #E8E8E8;
            width: 90%;
            padding: var(--big);
            margin: 0 auto;
            margin-top: 20px;
            .up{
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 2;
                .size{
                    width: 50%;
                 
                    p{
                        font-size: calc(var(--small)/1.2);
                        .font{
                            font-weight: bold;
                            margin-right: var(--small);
                        }
                    }
                }
                .rotateButton{
                    background: none;
                    img{           
                        width: var(--moreBig);         
                        box-shadow: none !important;
                    }
                }
                .clicked {
                    animation: clickAnimation 0.5s ease-in-out;
                  }
 
                  @keyframes clickAnimation {
                    0% {
                      transform: scale(1);
                    }
                    50% {
                      transform: scale(1.3);
                    }
                    100% {
                      transform: scale(1);
                    }
                  }
            }
            .down{
                margin-top: 30px;
                p{
                    font-size: calc(var(--small)/1.2);
                    margin-bottom: 20px;
                }
                .center{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    img{
                        width: 90%;
                        margin: auto;
                        display: block;
                    }
                   
                    button{
                        margin: 30px auto;
                        display: block;
                        cursor: pointer;
                        width: 90%;
                        padding: var(--small);
                        border-radius: 20px;
                        background-color: #8DEAC6;
                        font-size: calc(var(--small)/1.2);
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }  
    }
   
    }
    .plus{
        z-index: 9999;
        cursor: pointer;
        bottom: calc(var(--moreBig)*1.3) ;
        width: calc(var(--moreBig) *1.3) ;
        height: calc(var(--moreBig) *1.3);
        max-width: 80px;
        max-height: 80px;
        transform: translateX(calc(var(--small)*-27));
        border-radius: 50%;
        img{
          width:100%;
        }
      }
    
}



.modal{

    .modalStyle{
        background-color: #ffffff;

        border: 1px solid #E8E8E8;

        box-shadow: 3px 3px #E8E8E8;
        h3{
            background-color: #8DEAC6;
            text-align: center;
            padding: var(--middle);
            margin: var(--small) auto;
            font-size: calc(var(--middle)/1.5);
            font-weight: bold;
        }
        form{
            display: flex;
            flex-direction: column;
            .first{
                display: flex;
                justify-content: center;
                figure{
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: calc(var(--moreBig)*1.5);
                    }
                    figcaption{
                        font-size: var(--small);
                        margin: var(--small);
                    }
                }

                div:last-of-type{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                }
            }

           
            
            label{
                margin: var(--small) 0;
                display: flex;
                white-space: nowrap;
                font-size: calc(var(--small)/1.4);
                input{
                    width: calc(var(--moreBig)*3);
                    margin-left: 20px;
                    border: 1px solid #E8E8E8;
                    padding: 5px;
                }
                button{
                    margin:0 20px;
                    width:30px;
                    height: 20px;
                    border-radius: var(--small);

                }
                textarea{
                    border: 2px solid #E8E8E8;
                    margin-left: 20px;
                    width: 60%;
                }
                
            }
            label:nth-of-type(3){
                display: flex; 
                align-items: center;
            }
           

            .mapp{
                display: flex;
                flex-direction: column;
                p{
                    margin: 20px;
                }
                .success{
                    cursor: pointer;
                    width: 70%; height: 30px;
                    margin: 30px auto;
                    border-radius: 20px;
                    background-color: #8DEAC6;
                    font-weight: bold;
                    font-size: calc(var(--small)/1.2);
                }
            }   
        }

        
        
        
}

}
.fontt{
    font-weight: bold;
    margin-right: calc(var(--small)/1.5);
}

  



